.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.image {
    margin-right: 15px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description p {
    font-size: 16px;
    line-height: 24px;
    width: 30%;
}