.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  z-index: 1;
  padding: var(--padding-xxl);
  padding-left: 200px;
  padding-right: 200px;
}

.header h1 {
  border-bottom: var(--text-border);
  white-space: nowrap;
  background-color: var(--main0);
  padding: var(--padding-s);
  border-radius: var(--border-radius-m) var(--border-radius-m) 0px 0px;
  font: var(--h2-ui);
}

.header div {
  display: flex;
  flex-direction: row;
}

.header p {
  background-color: var(--main0);
  font: var(--h3-ui);
  margin-right: var(--margin-s);
  border-bottom: var(--text-border);
  padding: var(--padding-s);
  border-radius: var(--border-radius-m) var(--border-radius-m) 0px 0px;
}

.entryDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: calc(100vh - 100vw * calc(2160 / 3840));
}

/* TODO make better */
@media (max-width: 1800px) {
  .entryDiv {
    top: 0;
  }
  .entryDiv div {
    top: 0;
  }
}

.entryDiv video {
  width: 100vw;
  /* 3840 / 2160 */
}

.entryDiv div {
  position: absolute;
  top: calc(calc(100vh - 100vw * calc(2160 / 3840)) * -1);
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-self: center;
  align-self: center;
  background-color: var(--main0);
  padding: var(--padding-l);
  text-align: center;
  border-radius: var(--border-radius-l);
  filter: drop-shadow(0px 1px 100px black);
}

.entryDiv h1 {
  font: var(--h3);
}

.entryDiv p {
  font: var(--big);
}

.aboutMe {
  display: flex;
  flex-direction: column;
  margin-top: calc(calc(100vh - 100vw * calc(2160 / 3840)));
}

.aboutMe h1 {
  border-bottom: var(--text-border);
  font: var(--h2);
  margin-top: var(--spacing-m);
  margin-left: var(--spacing-s);
  width: fit-content;
}

.aboutMe div {
  margin-top: var(--spacing-s);
  width: 60%; 
  background-color: var(--tertiary1);
  color: var(--main0);
  padding: var(--padding-l);
  border-radius: var(--border-radius-l);
  flex-direction: row;
  display: flex;
  align-items: center;
  align-self: center;
  filter: drop-shadow(0px 10px 3px black);
}

.aboutMe .image {
  border-radius: var(--border-radius-m);
  width: 30%;
}

.aboutMe p {
  margin-left: var(--margin-l);
  font: var(--big);
}

.whatIDo h1 {
  color: var(--secondary0);
  font: var(--h2);
  border-bottom: var(--text-border);
  margin-top: var(--spacing-m);
  margin-left: var(--spacing-s);
  align-self: baseline;
  width: fit-content;
}

.whatIDo h2 {
  border-bottom: var(--text-border);
  font: var(--h3);
}

.whatIDo h3 {
  border-bottom: var(--text-border);
  font: var(--p);
  margin-top: var(--margin-xxs);
  margin-bottom: var(--margin-xxl);
}

.combatRobots {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: var(--spacing-m);
}

.combatRobots .combatRobotsRobot {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--margin-xxl);
  justify-content: space-between;
}

.combatRobots .combatRobotsRobot p {
  min-width: 45%;
  width: 45%;
  max-width: 45%;
  font: var(--big);
  margin-left: var(--margin-m);
  align-self: center;
}

.combatRobots .combatRobotsRobot:nth-child(odd) {
  flex-direction: row-reverse;
}

.combatRobots .combatRobotsRobot:nth-child(even) p {
  margin-left: 0px;
  margin-right: var(--margin-m);
}

.combatRobots .robotModel {
  min-width: 50%;
  width: 50%;
  max-width: 50%;
  background-color: var(--main1);
  border-radius: var(--border-radius-m);
  align-self: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: var(--spacing-m);
}

.projects .projectsProject {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--margin-xxl);
  justify-content: space-between;
}

.projects .projectsProject p {
  min-width: 45%;
  width: 45%;
  max-width: 45%;
  font: var(--big);
  margin-right: var(--margin-m);
  align-self: center;
}

.projects .projectsProject:nth-child(odd) {
  flex-direction: row;
}

.projects .projectsProject:nth-child(even) p {
  margin-right: 0px;
  margin-left: var(--margin-m);
}

.projects .projectsProject img {
  object-fit: cover;
  width: 50%;
  height: 100%;
  background-color: var(--main1);
  border-radius: var(--border-radius-m);
  align-self: center;
}

.projects .projectsProject video {
  width: 50%;
  height: 100%;
  align-self: center;
  border-radius: var(--border-radius-m);
}