.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  padding: var(--padding-xxl);
}

.header h1 {
  border-bottom: 3px solid var(--tertiary);
  white-space: nowrap;
  margin-left: 200px;
  background-color: var(--main);
  padding: var(--padding-s);
  border-radius: var(--border-radius-s);
  font: var(--h2-ui);
}

.header div {
  display: flex;
  flex-direction: row;
  pointer-events: auto;
  margin-right: 200px;
}

.header p {
  background-color: var(--main);
  font: var(--h3-ui);
  margin-right: var(--margin-s);
  border-bottom: 3px solid var(--tertiary);
  padding: var(--padding-s);
  border-radius: var(--border-radius-s);
  white-space: nowrap; 
  /* TODO needed ^ */
}

.entryDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: calc(100vh - 100vw * calc(2160 / 3840));
}

/* TODO make better */
@media (max-width: 1800px) {
  .entryDiv {
    top: 0;
  }
  .entryDiv div {
    top: 0;
  }
}

.entryDiv video {
  width: 100vw;
  /* 3840 / 2160 */
}

.entryDiv div {
  position: absolute;
  top: calc(calc(100vh - 100vw * calc(2160 / 3840)) * -1);
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-self: center;
  align-self: center;
  background-color: darkgrey;
  padding: var(--padding-l);
  text-align: center;
  border-radius: var(--border-radius-l);
  filter: drop-shadow(0px 1px 100px black);
}

.entryDiv h1 {
  font: var(--h3);
}

.entryDiv p {
  font: var(--big);
}

.aboutMe {
  display: flex;
  flex-direction: column;
  margin-top: calc(calc(100vh - 100vw * calc(2160 / 3840)));
}

.aboutMe h1 {
  border-bottom: 3px solid var(--tertiary);
  font: var(--h3);
  margin: var(--margin-l);
  width: fit-content;
}

.aboutMe div {
  width: 40%; 
  background-color: teal;
  padding: var(--padding-l);
  margin-top: var(--margin-xxxl);
  border-radius: var(--border-radius-l);
  flex-direction: row;
  display: flex;
  align-items: center;
  align-self: center;
  filter: drop-shadow(0px 10px 3px black);
}

.aboutMe .image {
  border-radius: var(--border-radius-m);
  width: 30%;
}

.aboutMe p {
  margin-left: var(--margin-l);
  font: var(--big);
}

.combatRobotics {
  align-self: center;
}

.combatRobotics div {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.combatRobotics p {
  font: var(--big);
  margin-left: var(--margin-m);
}