.robotContainer {
    border: 1px white solid;
    border-radius: 15px;
    width: 50%;
    padding: 15px;
    margin-bottom: 15px;
}

.robotTitle {
    font-size: 36px;
    font-weight: bold;
}

.robotStreak {
    font-size: 16px;
    margin-bottom: 5px;
}

.robotDescription {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
}

.robotInfo {
    font-size: 18px;
}