@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-link {
    @apply text-main bg-d-main rounded-md text-xl border-b-4 border-third dark:border-d-third p-2 shadow-xl;
  }
  .section-title {
    @apply dark:text-main text-d-main text-4xl border-b-4 font-medium border-third dark:border-d-third p-1 ml-[5%] mt-[5vh] sm:mt-[10vh] mb-[5vh] self-baseline w-fit;
  }
  .bottom-border {
    @apply border-b-4 border-third dark:border-d-third;
  }
  .what-i-do-title {
    @apply w-fit text-3xl font-semibold bottom-border mb-0 mt-[1vh] dark:text-main text-d-main;
  }
  .what-i-do-date {
    @apply w-fit text-base font-medium bottom-border dark:text-d-a-second text-a-second my-2;
  }
  .robot-container {
    @apply flex flex-col-reverse w-[100%] md:flex-row h-[800px] md:h-[400px] mb-10 md:mb-20 justify-between md:odd:flex-row-reverse dark:text-main text-d-main;
  }
  .robot-text {
    @apply text-sm sm:text-base leading-9 self-center text-ellipsis md:basis-1/2 h-min overflow-y-clip mx-[2.5%] md:min-w-[500px];
  }
  .robot-learn-more {
    @apply bg-a-third dark:bg-d-third w-fit p-3 mt-3 rounded-2xl text-xl;
  }
  .robot-image {
    @apply object-contain md:basis-1/4 md:h-full rounded-xl;
  }
  .robot-video {
    @apply object-contain md:basis-1/4 md:h-full rounded-xl;
  }
  .robot-model {
    @apply mb-5 md:mb-0 md:basis-1/2 bg-d-a-main rounded-xl self-center md:min-w-[500px];
  }
}

:root {
  --main0: #fff;
  --main1: #a9abb3;
  --secondary0: #000;
  --secondary1: #111111;
  --tertiary0: darkorange;
  --tertiary1: darkorange;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main0: #111111;
    --main1: #25282c;
    --secondary0: #fff;
    --secondary1: #a9abb3;
    --tertiary0: #00F7FF; 
    --tertiary1: #4AA5A0; 
  }
}

/* @font-face { */
  /* font-family: "JetBrains Mono"; */
  /* src: url("/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf"); */
  /* src: url("/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf"); */
/* } */

/* * {
  font-family: "JetBrains Mono", monospace;
} */

html {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary1) var(--main0);
}