@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-link {
    @apply text-d-a-main dark:text-main bg-a-main dark:bg-d-main rounded-md text-xl border-b-4 border-third dark:border-d-third p-2 shadow-xl;
  }
  .section-title {
    @apply dark:text-main text-d-main text-4xl border-b-4 font-medium border-third dark:border-d-third p-1 ml-[5%] mt-[5vh] sm:mt-[10vh] mb-[5vh] self-baseline w-fit;
  }
  .bottom-border {
    @apply border-b-4 border-third dark:border-d-third;
  }
  .what-i-do-title {
    @apply w-fit text-3xl font-semibold bottom-border mb-0 mt-[1vh] dark:text-main text-d-main;
  }
  .what-i-do-date {
    @apply w-fit text-base font-medium bottom-border dark:text-d-a-second text-a-second my-2;
  }
  .robot-learn-more {
    @apply bg-a-third dark:bg-d-third w-fit p-3 mt-3 rounded-2xl text-xl;
  }
  /* TODO double shadows https://codepen.io/whosajid/pen/QWReYqV */
  .robot-container {
    @apply flex flex-col-reverse w-[100%] md:w-[90%] self-center md:gap-8 md:flex-row mb-10 md:mb-20 justify-center xl:justify-evenly md:odd:flex-row-reverse dark:text-main text-d-main;
  }
  .robot-text {
    @apply text-sm sm:text-base lg:text-lg leading-9 self-center mx-[2.5%] md:mx-0 md:my-[1%] md:w-full md:max-w-[550px] xl:max-w-[800px];
  }
  .robot-image {
    @apply object-contain md:basis-1/4 md:h-full rounded-xl max-h-[500px] self-center;
  }
  .robot-video {
    @apply object-contain md:basis-1/4 md:h-full rounded-xl max-h-[500px] self-center;
  }
  .robot-model {
    @apply mb-5 md:mb-0 bg-d-a-main rounded-xl self-center md:max-h-[300px] !h-[300px] min-h-[300px] max-w-[350px] !w-[350px] min-w-[350px] md:!h-[300px] md:min-h-[300px] md:max-w-[350px] md:!w-[350px] md:min-w-[350px] lg:max-h-[400px] lg:!h-[400px] lg:min-h-[400px] lg:max-w-[450px] lg:!w-[450px] lg:min-w-[450px];
  }
}

:root {
  --main0: #EEEEEE;
  --main1: #DDDDDD;
  --secondary: #666666;
  --tertiary: #8E0092; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --main0: #111111;
    --main1: #25282c;
    --secondary: #DDDDDD;
    --tertiary: #FF8C00;
  }
}

/* @font-face { */
  /* font-family: "JetBrains Mono"; */
  /* src: url("/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf"); */
  /* src: url("/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf"); */
/* } */

/* * {
  font-family: "JetBrains Mono", monospace;
} */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--main0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--secondary);
}