.horizontal {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    z-index: 10;
    margin-bottom: 15px;
}

.name {
    font-size: 24px;
}

.bar {
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    white-space: nowrap;
}