.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    z-index: 10;
    margin-bottom: 15px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.0);
}

.name {
    border-bottom: 2px solid var(--tertiary);
    white-space: nowrap;
}

.name p {
    font-size: 36px;
}

.bar {
    display: flex;
    flex-direction: row;
    pointer-events: auto;
}

.bar p {
    font-size: 22px;
    margin-right: 10px;
    border-bottom: 2px solid var(--tertiary);
    white-space: nowrap;
}